<div class="container">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel panel-heading">Login</div>
      <div class="panel panel-body">
        Email<input class="form-control" type="email"/>
        Password<input class="form-control" type="password"/>
        <br/>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel panel-heading">Register</div>
      <div class="panel panel-body">
      <form name="register">
        Email<input class="form-control" type="email"/>
        Password<input class="form-control" name="pwd" type="password" ng-model="pwd"/>
        Confirm Password<input class="form-control" name="pwdConfirm" type="password" compare-to="pwd" ng-model="pwdConfirm"/>
        <br/>
        <span ng-show="register.pwdConfirm.$dirty && register.pwdConfirm.$invalid">Password do not match</span>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </div>
    </div>
  </div>
</div>
